<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%= success[0] %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= error[0] %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>
